@import "tailwindcss";

@variant dark (.dark &);

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Override Tailwind's button cursor reset */
button {
  cursor: pointer;
}